<h1 class="mt-5">Selectores Anidados</h1>
<hr>
<form  [formGroup]="miForm" (ngSubmit)="guardar()">
    <!-- select 1 -->
    <div class="row">
        <div class="col">
            <label for="">Continente:</label>
            <select name="" class="form-control" id="" formControlName="region">
                <option value="">--Seleccione--</option>
                <option *ngFor="let region of regiones"
                [value]="region | lowercase">{{ region}}</option>
            </select>
        </div>
    </div>

     <!-- select 2 -->
     <div class="row" *ngIf="paises.length != 0">
        <div class="col">
            <label for="">Pais:</label>
            <select name="" class="form-control" id="" formControlName="pais">
                <option value="">--Seleccione--</option>
                <option *ngFor="let pais of paises"
                [value]="pais.alpha3Code">{{ pais.name}}</option>
            </select>
        </div>
    </div>

    <!-- select 3 -->
    <div class="row" *ngIf="fronteras.length != 0">
        <div class="col">
            <label for="">Frontera:</label>
            <select name="" class="form-control" id="" formControlName="frontera">
                <option value="">--Seleccione--</option>
                <option *ngFor="let frontera of fronteras"
                [value]="frontera.alpha3Code">{{ frontera.name}}</option>
            </select>
        </div>
    </div>
    <div class="row" *ngIf="cargando"> 
        <div class="col">
            <div class="alert alert-primary">
                Cargando ...
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col">
            <button  class="btn btn-success">Enviar</button>
        </div>
    </div>
</form>

<h3>Formu</h3>
<pre>valid : {{ miForm.valid}}</pre>
<pre>value : {{ miForm.value | json}}</pre>